#home-page-background-block {
    background-image: url("../images/earth-at-night.jpeg");
    height: 100%;
    width: 100%;
    color: white;
}

p#intro {
    margin: 0 10%;
    padding: 10% 0 0 0;
    font-size: 40px;
    font-family: serif;
}

form#home-page-tweet-search {
    padding-top: 1%;
    width: 80%;
    margin: 0 10%;
}

form#home-page-tweet-search input[type="text"] {
    width: 70%;
    margin-right: 5%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    font-size: 18px;
    padding-left: 4px;
}

form#home-page-tweet-search input[type="text"]::placeholder {
    color: grey;
    padding-left: 4px;
}

form#home-page-tweet-search input[type="submit"] {
    width: 20%;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    background-color: blue;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}