html {
    font-family: sans-serif;
}

ul#nav {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    background-color: blue;
    height: 50px;
    overflow: auto;
}

ul#nav li {
    display: inline;
    line-height: 50px;
    padding: 0 10px;
    color: white;
}

ul#nav li#nav-title {
    float: left;
}

ul#nav li.nav-link {
    float: right;
}

ul#nav li.nav-link a {
    color: white;
}