html {
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: navy;
    height: 50px;
    overflow: hidden;
}

ul#nav li {
    display: inline;
    line-height: 50px;
    padding: 0 10px;
    color: white;
}

ul#nav li#nav-title {
    float: left;
}

ul#nav li#nav-title a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}