html {
    font-family: sans-serif;
}

ul#nav {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    background-color: blue;
    height: 50px;
    overflow: auto;
}

ul#nav li {
    display: inline;
    line-height: 50px;
    padding: 0 10px;
    color: white;
}

ul#nav li#nav-title {
    float: left;
}

ul#nav li.nav-link {
    float: right;
}

ul#nav li.nav-link a {
    color: white;
}


form#tweet-search {
    width: 80%;
    margin: 0 10%;
}

form#tweet-search label {
    margin-bottom: 10px;
}

form#tweet-search input[type="text"] {
    width: 75%;
    margin-right: 5%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    font-size: 18px;
}

form#tweet-search input[type="submit"] {
    width: 15%;
    border-radius: 5px;
    height: 30px;
    color: white;
    background-color: blue;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


ul#tweet-list {
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

ul#tweet-list li.positive-sentiment {
    color: green;
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 5px;
}

ul#tweet-list li.neutral-sentiment {
    color: blue;
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 5px;
}

ul#tweet-list li.negative-sentiment {
    color: red;
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 5px;
}

ul#tweet-list li.unclassified-sentiment {
    color: grey;
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 5px;
}