div#map-container {
    height: 60%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: inline-block;
}

div#map {
    background-color: grey;
    height: calc(100% - 30px);
    width: 100%;
    display: inline-block;
    margin: 0;
    position: relative;
}

div#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 0 10px 10px 10px;
    margin: 10px;
    border: 1px solid lightgrey;
}