div.overview_stat_panel {
    width: 400px;
    height: 300px;
    display: inline-block;
    margin: 0;
    border: 1px solid lightgrey;
}

div.stats_row_wrapper {
    width: 100%;
    text-align: center;
}

div.stat_panel {
    width: 500px;
    height: 300px;
    display: inline-block;
    margin: 0;
    border: 1px solid lightgrey;
}