div#stats_overview_wrapper {
    width: 100%;
    text-align: center;
}

div#overview_chart_div {
    display: inline-block;
    margin: 0;
    border: 1px solid lightgrey;
}

div#bar_chart_div {
    display: inline-block;
    margin: 0;
    border: 1px solid lightgrey;
}


div.stats_chart {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    border: 1px solid lightgrey;
}