@(topic: String)

@main() {
    @common.nav()
    @common.toolbar(topic)

    <p id="not-found-explanation">No tweets could be found for topic <strong>"@topic"</strong>. But don't despair! Here are some popular topics
    people are tweeting about:</p>

    <form action="@routes.MapController.visualiseTopic()" method="GET" class="suggested-topic">
        <input type="hidden" name="topic" value="lecturer strike" />
        <input type="submit" value="UK Lecturer Strike">
    </form>

    <form action="@routes.MapController.visualiseTopic()?topic=skripal" method="GET" class="suggested-topic">
        <input type="hidden" name="topic" value="skripal" />
        <input type="submit" value="Skripal Poisoning">
    </form>

    <form action="@routes.MapController.visualiseTopic()?topic=brexit" method="GET" class="suggested-topic">
        <input type="hidden" name="topic" value="brexit" />
        <input type="submit" value="Brexit">
    </form>
}