@(tweets: List[Tweet], topic: String, sentimentFreqs: Map[String, Double])

@main() {
    @common.nav()
    @common.toolbar(topic)

    <p id="tweet-list-overview">@tweets.size() tweets in total. @sentimentFreqs.get("positive").intValue() positive,
    @sentimentFreqs.get("neutral").intValue() neutral and @sentimentFreqs.get("negative").intValue() negative.</p>

    <ul id="tweet-list">
        @for(tweet <- tweets) {
            @if(tweet.getSentimentValue() > 2) {
                <li class="positive-sentiment">@tweet.getText()</li>
            }
            @if(tweet.getSentimentValue() == 2) {
                <li class="neutral-sentiment">@tweet.getText()</li>
            }
            @if(tweet.getSentimentValue() < 2) {
                <li class="negative-sentiment">@tweet.getText()</li>
            }
        }
    </ul>
}