<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tweet_list.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/map_visualisation.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/stats_visualisation.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/word_frequency.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/wordcloud.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tweets_not_found.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
