@(topic: String)

<ul id="toolbar">
    <li><a href="@routes.MapController.visualiseTopic()?topic=@topic">Map visualisation</a></li>
    <li><a href="@routes.StatsController.visualiseAllTopicCategories()?topic=@topic">Statistics overview</a></li>
    <li><a href="@routes.TweetListController.visualiseTopic()?topic=@topic">View list of tweets</a></li>
    <li><a href="@routes.WordCloudController.visualiseTopic()?topic=@topic">Word cloud</a></li>
    <li><a href="@routes.StatsController.visualiseWordFrequency()?topic=@topic">Commonly associated words</a></li>
</ul>